@import '../../containers/Application/colors.scss';

$indicatorDraftBackgroundColor: $gold;
$indicatorPlainDraftBackgroundColor: $silver;
$indicatorPublishedBackgroundColor: $mantis;
$indicatorBorderColor: $white;
$indicatorDimension: 18px;
$indicatorOverlap: 10px;

.publish-indicator {
    white-space: nowrap;
}

.published,
.draft,
.draft-plain,
.review {
    display: inline-block;
    border: 2px $indicatorBorderColor solid;
    border-radius: 50%;
    height: $indicatorDimension;
    width: $indicatorDimension;
}

.published + .draft,
.published + .draft-plain,
.published + .review {
    margin-left: -$indicatorOverlap;
}

.draft {
    background-color: $indicatorDraftBackgroundColor;
}

.draft-plain {
    background-color: $indicatorPlainDraftBackgroundColor;
}

.review {
    background-color: $indicatorDraftBackgroundColor;
}

.published {
    background-color: $indicatorPublishedBackgroundColor;
}
